.header {
  position: sticky;
  top: 0;
  padding: var(--space-xl) 0;
  background-color: var(--dark);
  container: header / inline-size;
  z-index: 3;
  margin-bottom: clamp(10px, 1.8vw, 40px);

  &__container {
    @extend %flex-wrap;

    align-items: center;
    gap: var(--space-l);
  }

  .logo {
    margin-right: auto;
  }

  &__side {
    @extend %flex-wrap;

    gap: clamp(var(--space-s), 3vw, var(--space-l));

    .main-link {
      svg {
        display: none;
      }
    }

    @container header (max-width: 1240px) {
      .main-link {
        min-height: 50px;
        padding: 5px;
        justify-content: center;

        svg {
          display: block;
          fill: white;
        }

        span {
          display: none;
        }
      }
    }
  }

  .main-title {
    font-size: clamp(32px, 4.8vw, 5.75em);

    @container header (max-width: 534px) {
      font-size: 18px;
    }
  }
}
