.header {
  padding: var(--space-xxl) 0;
  background-color: transparent;
  container: header / inline-size;

  &__container {
    @extend %flex-align;

    gap: var(--space-l);
  }

  .logo {
    margin-right: auto;
  }

  &__side {
    @extend %flex-wrap;

    gap: clamp(var(--space-s), 3vw, var(--space-l));

    .main-link {
      svg {
        display: none;
      }
    }

    @container header (max-width: 1240px) {
      .main-link {
        svg {
          display: block;
        }

        span {
          display: none;
        }
      }
    }
  }
}
