include ../ui/main-link/main-link

header.header
  .container-fluid.header__container
    include ../logo/logo
    .header__side
      +main-link({
        icon: 'online',
        url: "https://avito-eventsnew.timepad.ru/event/2989034/",
        text: 'Зарегистрироваться на&nbsp;онлайн-трансляцию',
        modifier: 'bg-success'
      })
      +main-link({
        icon: 'offline',
        url: "https://avito-eventsnew.timepad.ru/event/2976154/",
        text: 'Зарегистрироваться на&nbsp;мероприятие',
      })
    //- span.main-title(aria-hidden="true") Первая конференция авито услуг
