include ../ui/main-link/main-link

header.header
  .container.header__container
    include ../logo/logo
    .header__side
      +main-link({
        text: 'Зарегистрироваться на&nbsp;мероприятие',
        modifier: 'bg-success'
      })
      +main-link({
        text: 'Зарегистрироваться на&nbsp;онлайн-трансляцию'
      })
