include ../../components/ui/speaker-card/speaker-card
include ../../components/base-section/base-section-header

section.speakers
  .container

    +base-section-header({
      title: 'Спикеры',
    })

    .speakers__content
      ul.speakers__list
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-1-mock-img',
            name: 'Игорь Санников',
            text: 'Эксперт в своей области, обладающий глубокими знаниями.'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-2-mock-img',
            name: 'Антон Азарин',
            text: 'Менеджер по работе с ключевыми клиентами.'
          })
