include ../../components/ui/speaker-card/speaker-card

section.speakers
  .container
    .speakers__header
      h2.base-title Спикеры

    .speakers__content
      ul.speakers__list
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-1-mock-img.png',
            name: 'Владимир Владимиров',
            badge: 'Маркетолог',
            text: 'Эксперт в своей области, обладающий Эксперт в своей области, обладающий Эксперт в своей области, обладающий глубокими знаниями, способный вдохновить аудиторию  новыми идеями.'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-2-mock-img.png',
            name: 'Дмитриев',
            badge: 'Врач-косметолог',
            text: 'Эксперт в своей области, обладающий глубокими знаниями, способный вдохновить аудиторию  новыми идеями.'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-3-mock-img.png',
            name: 'Александра Иванова',
            badge: 'Психолог',
            text: 'Эксперт в своей области, обладающий глубокими .'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-4-mock-img.png',
            name: 'Михаил Константинов',
            badge: 'Диетолог и тренер',
            text: 'Эксперт в своей области, обладающий глубокими знаниями, способный вдохновить аудиторию  новыми идеями.'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-5-mock-img.png',
            name: 'Василиса Васильева',
            badge: 'Нутрициолог',
            text: 'Эксперт в своей области, обладающий глубокими знаниями, способный вдохновить аудиторию  новыми идеями.'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-6-mock-img.png',
            name: 'Никита Павлов',
            badge: 'Врач-эндокринолог',
            text: 'Эксперт в своей области, обладающий глубокими знаниями, способный вдохновить аудиторию  новыми идеями.'
          })
        li.speakers__list-item
          +speaker-card({
            img: 'speaker-7-mock-img.png',
            name: 'Екатерина Алиева',
            badge: 'Врач-косметолог',
            text: 'Эксперт в своей области, обладающий глубокими знаниями, способный вдохновить аудиторию  новыми идеями.'
          })
