.feature-card {
  @extend %flex-column;

  gap: clamp(16px, 2vw, 24px);
  font-size: 32px;

  &__header {
    position: relative;

    picture {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      overflow: hidden;
    }

    span {
      position: absolute;
      top: 24px;
      left: 30px;
      font-size: 1em;

      @container feature-card-container (max-width: 400px) {
        font-size: 0.6em;
        top: 16px;
        left: 20px;
      }
    }
  }

  .base-text {
    max-width: 70%;

    @container feature-card-container (max-width: 400px) {
      max-width: 100%;
    }
  }
}
