include ../badge/badge

mixin speaker-card(data)
  .speaker-card
    picture
      source(srcset=`./assets/images/${data.img}.webp` type="image/webp")
      img(src=`./assets/images/${data.img}.png` alt="Спикер" width="360" height="360")

    include ../../logo/logo

    span.speaker-card__name!= data.name
    span.speaker-card__text!= data.text
