include ../../components/ui/main-link/main-link
include ../../components/ui/schedule-card/schedule-card
include ../../components/base-section/base-section-header
include ../../components/base-section/base-section-footer

section.schedule
  .container
    include ../../components/announce-block/announce
    +base-section-header({
      title: 'Программа мероприятия',
    })
    .schedule__content

      ul.schedule__list
        li.schedule__list-item
          +schedule-card({
            time: '13:00-14:00',
            text: 'Сбор&nbsp;гостей, Легкий&nbsp;велком, Фотосессия',
            bgColor: 'bg-info'
          })
        li.schedule__list-item
          +schedule-card({
            time: '14:00-16:00',
            text: 'Деловая часть&nbsp;1.<br>Выступление экспертов Авито и&nbsp;партнеров',
            bgColor: 'bg-info'
          })
        li.schedule__list-item
          +schedule-card({
            time: '16:00-16:30',
            text: 'Кофе-брейк',
            bgColor: 'bg-info'
          })
        li.schedule__list-item
          +schedule-card({
            time: '16:30-18:00',
            text: 'Деловая часть&nbsp;2.',
            bgColor: 'bg-info'
          })
        li.schedule__list-item
          +schedule-card({
            time: '18:00-21:00',
            text: 'Фуршет и вечеринка для&nbsp;друзей Авито&nbsp;Услуг',
            bgColor: 'bg-info'
          })

    +base-section-footer('Событие, которое нельзя пропустить')
