:root {
  --primary: #965eeb;
  --secondary: #fffce1;
  --success: #04e061;

  // --warning: #ffc107;
  --danger: #ff4053;
  --info: #0af;

  // --light: #f8f9fa;
  --dark: #131200;

  // --muted: #6c757d;
  --white: #fff;
  --black: #000;
  --site-bg-color: var(--dark);
  --site-text-color: var(--secondary);
}
