:root {
  --content-width: 1680px;
  --container-offset: clamp(20px, 4vw, 60px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1800px;
  --container-fluid-offset: clamp(20px, 4vw, 60px);
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
}
