extends layouts/main-layout.pug

block variables
  -
    const title = "Первая конференция Авито Услуг для красоты и здоровья"
    const description = "Конференция Авито Услуг для красоты и здоровья"
    //- Дополнительные файлы стили для КОНКРЕТНОЙ страницы
    //- const styleFileNames = ['inner']

block content
  include ./sections/hero/hero
  include ./sections/features/features
  include ./sections/schedule/schedule
  include ./sections/speakers/speakers
  include ./sections/stream/stream
  include ./sections/faq/faq
  include ./sections/subscribe/subscribe

block modals
  //- Модальные окна используемые ТОЛЬКО на этой странице
  //-
