section.stream
  .container
    .stream__header
      h2.base-title Прямой эфир

    .stream__content
      <iframe width="560" height="315" src="https://www.youtube.com/embed/hjbvoBzhos0?si=gGMAX-5vJtAgPpux" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="true"></iframe>
