.subscribe {
  .main-link {
    padding: var(--space-xl) var(--space-l);
    gap: var(--space-l);

    svg {
      width: 40px;
      min-width: 40px;
      height: 40px;
      fill: var(--white);
    }

    span {
      text-transform: uppercase;
      text-align: start;
      color: var(--white);
    }

    @container container (max-width: 767px) {
      max-width: 360px;
    }

    @container container (max-width: 440px) {
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
    }
  }
}
