footer.footer
  .container
    .footer__top
      include ../logo/logo

      .footer__side
        +main-link({
          url: "https://avito-eventsnew.timepad.ru/event/2976154/",
          icon: 'offline',
          text: 'Зарегистрироваться на&nbsp;мероприятие',
          modifier: 'bg-success'
        })
        +main-link({
          url: "https://avito-eventsnew.timepad.ru/event/2989034/",
          icon: 'online',
          text: 'Зарегистрироваться на&nbsp;онлайн-трансляцию'
        })
    .footer__bottom
      span.footer__copyrights 2024. Все права защищены.
      a(href="https://www.avito.ru/legal/rules/privacy-policy" rel="noopener nofollow norefferer" target="_blank").footer__privacy Политика конфиденциальности
