.main-link {
  @extend %btn-reset;
  @extend %flex-align;

  gap: var(--space-s);
  width: fit-content;
  min-width: 50px;
  min-height: 64px;
  font-size: clamp(16px, 1.2vw, 28px);
  text-align: center;
  padding: var(--space-xs) var(--space-m);
  border-radius: 50px;
  background-color: var(--primary);
  color: var(--dark);
}
