.main-link {
  @extend %btn-reset;
  @extend %flex-align;

  gap: var(--space-s);
  width: fit-content;
  min-width: 50px;
  min-height: 64px;
  font-size: clamp(16px, 1.2vw, 28px);
  text-align: center;
  padding: 8px 24px 10px;
  border-radius: 50px;
  background-color: var(--primary);
  color: var(--white);
  border: 4px solid transparent;

  &.outlined {
    color: var(--primary);
    border-color: var(--primary);
    background-color: transparent;
  }
}
