include ../../components/ui/badge/badge

section.hero
  .container-fluid
    h1.visually-hidden Первая конференция авито услуг для красоты и здоровья

    .hero__grid-layout
      span.main-title(aria-hidden="true") Первая конференция авито услуг

      include ../../components/announce-block/announce

      picture.hero__poster
        source(srcset=`./assets/images/hero-img-big@1x.webp` type="image/webp")
        img(src=`./assets/images/hero-img-big@1x.png` alt="Девушка" width="480" height="660")

      .hero__badges
        +badge({
          img: {
            name: 'hero-img-small-left@1x',
            alt: 'Глаза',
            width: 420,
            height: 146
          },
        })
        +badge({
          content: {
            bold: '100+',
            text: 'участников конференции на площадке'
          },
          bgColor: 'bg-success'
        })
        +badge({
          content: {
            bold: '15',
            text: 'выступлений'
          },
          bgColor: 'bg-danger'
        })
        +badge({
          content: {
            bold: '2000+',
            text: 'участников в онлайне'
          },
          icons: [
            'icon-badge-1',
            'icon-badge-2',
            'icon-badge-3'
          ],
        })
        +badge({
          img: {
            name: 'hero-img-small-right@1x',
            alt: 'Улыбка',
            width: 420,
            height: 200
          },
        })
        +badge({
          content: {
            bold: '10+',
            text: 'спикеров'
          },
          icons: [
            'icon-badge-4',
          ],
          bgColor: 'bg-info'
        })

      span.main-title(aria-hidden="true") для красоты и здоровья
