.base-section-footer {
  &__side {
    @extend %flex-align;

    justify-content: center;
    gap: clamp(12px, 3vw, 24px);

    @container container (max-width: 767px) {
      flex-direction: column;
    }
  }

  &:has(.base-text) {
    gap: clamp(var(--space-xl), 4vw, var(--space-xxl));
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .base-text {
      text-transform: uppercase;
      font-weight: var(--fw-m);
      font-size: clamp(20px, 2vw, 36px);
      margin: 0;
      max-width: 70%;

      @container container (max-width: 767px) {
        max-width: 100%;
      }
    }

    .base-section-footer__side {
      width: 100%;

      .main-link {
        width: 100%;
        text-align: center;
        justify-content: center;
      }
    }
  }
}
