mixin base-section-footer(text)
  .base-section-footer
    if text
      p.base-text!= text
    .base-section-footer__side
      +main-link({
        url: "https://avito-eventsnew.timepad.ru/event/2976154/",
        text: 'Зарегистрироваться на&nbsp;мероприятие',
        modifier: 'bg-success'
      })
      +main-link({
        url: "https://avito-eventsnew.timepad.ru/event/2989034/",
        text: 'Зарегистрироваться на&nbsp;онлайн-трансляцию'
      })
