mixin base-section-footer(data)
  .base-section-footer
    +main-link({
      text: 'Зарегистрироваться на&nbsp;мероприятие',
      modifier: 'bg-success'
    })
    +main-link({
      text: 'Зарегистрироваться на&nbsp;онлайн-трансляцию'
    })
