include ../../components/ui/main-link/main-link
include ../../components/ui/feature-card/feature-card
include ../../components/base-section/base-section-header
include ../../components/base-section/base-section-footer

section.features
  .container.features__container

    +base-section-header({
      title: 'Для представителей бизнеса бьюти-индустрии',
      description: 'Это уникальное событие, которое объединяет профессионалов индустрии, чтобы обменяться опытом и узнать последние тенденции и новинки рынка. Здесь вы услышите интересные выступления от экспертов Авито, познакомитесь с технологиями и продуктами, помогающими развивать бизнес.'
    })

    .features__content
      ul.features__list
        li.features__list-item
          +feature-card({
            img: {
              name: 'feature-img-1',
              title: 'Красота'
            },
            text: 'Только экспертный контент и&nbsp;получение ценных советов.'
          })
        li.features__list-item
          +feature-card({
            img: {
              name: 'feature-img-2',
              title: 'Здоровье'
            },
            text: 'Вдохновляющие спикеры и&nbsp;неформальное общение.'
          })
        li.features__list-item
          +feature-card({
            img: {
              name: 'feature-img-3',
              title: 'Услуги'
            },
            text: 'Лаундж-зона на&nbsp;открытом воздухе, коктейли и&nbsp;стильный диджей-сет.'
          })

    +base-section-footer('Не упустите возможность быть в курсе всех инноваций и трендов отрасли')


