include ../../components/ui/main-link/main-link
include ../../components/ui/feature-card/feature-card

section.features
  .container.features__container
    .features__header
      h2.base-title конференция Авито Услуг для Красоты и Здоровья
      p.base-text это уникальное событие, которое объединяет профессионалов индустрии красоты и здоровья, чтобы обменяться опытом и узнать последние тенденции и новинки рынка. Здесь вы сможете услышать интересные доклады от ведущих экспертов Авито, познакомиться с новыми технологиями и продуктами, помогающими сохранить красоту и заботиться о здоровье, а также посетить творческий мастер-класс и насладиться летними хитами от стильного диджея. Не упустите возможность быть в курсе всех инноваций и трендов отрасли!
    .features__content
      ul.features__list
        li.features__list-item
          +feature-card({
            icon: 'feature-1',
            text: 'Выступление внутренних спикеров Авито, а также приглашенных спикеров'
          })
        li.features__list-item
          +feature-card({
            icon: 'feature-2',
            text: 'Возможность обмена опытом с профессионалами и получение ценных советов по развитию бьюти-сферы через Авито Услуги.'
          })
        li.features__list-item
          +feature-card({
            icon: 'feature-3',
            text: 'Легкий вечерний нетворкинг, красивая музыка, фуршет, неформальное общение'
          })

    .features__footer
      +main-link({
        icon: 'offline',
        text: 'Зарегистрироваться на&nbsp;мероприятие',
        modifier: 'bg-success'
      })
      +main-link({
        icon: 'online',
        text: 'Зарегистрироваться на&nbsp;онлайн-трансляцию'
      })


